VAGRANTFILE_API_VERSION = "2"
NODES = %CLUSTERNODES%
#WORKERS = 4
#MASTERS = 2
BASENAME = "gpdb"
CLUSTER_ID = "%CLUSTERNAME%"
PROJECT_ID = "pivotal-1211"
EMAIL = "dbaskette@pivotal.io"
KEY = "/Users/dbaskette/Downloads/Pivotal-8b6ceb84c23f.json"
ZONE = "us-east1-d"
IMAGE = "centos-6-v20160511"
SSH_USERNAME = "dbaskette"
SSH_KEY_PATH = "~/.ssh/google_compute_engine"


Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    config.vm.box = "gce"
    config.ssh.pty = true
    config.ssh.forward_agent = false

# Build  Nodes

    (1..NODES).each do |node_num|
        node_name = "#{BASENAME}-#{node_num}-#{CLUSTER_ID}"
        config.vm.define node_name do |node|
            config.vm.synced_folder "../configs", "/vagrant/configs"

            node.vm.provision "shell",inline: "sed -i 's|[#]*PasswordAuthentication no|PasswordAuthentication yes|g' /etc/ssh/sshd_config"

            node.vm.provision "shell",inline: "sed -i 's|UsePAM no|UsePAM yes|g' /etc/ssh/sshd_config"
            node.vm.provision "shell",inline: "echo 'Defaults !requiretty\n' > /etc/sudoers.d/888-dont-requiretty"
            node.vm.provision "shell",inline: "cat '/vagrant/configs/sysctl.conf.gpdb' >> /etc/sysctl.conf"
            node.vm.provision "shell",inline: "cat '/vagrant/configs/limits.conf.gpdb' >> /etc/security/limits.conf"

            node.vm.provision "shell", path: "../scripts/prepareHost.sh"
            node.vm.provision :reload

            node.vm.provider :google do |google, override|
                google.google_project_id = PROJECT_ID
                google.google_client_email = EMAIL
                google.google_json_key_location = KEY
                google.zone = ZONE
                google.image = IMAGE
                google.instance_ready_timeout = 800
                google.disk_type = "pd-standard"
                google.disk_size = 500
                google.instance_group = CLUSTER_ID
                override.ssh.username = SSH_USERNAME
                override.ssh.private_key_path = SSH_KEY_PATH
                google.name = node_name
                google.machine_type = "n1-standard-4"
                google.metadata = {'type' => 'gpdb'}
                google.tags = ['pivotal', 'edu','gpdb']
            end

  


        end
    end

end


